VITE_GITHUB_ORG=teckedd-code2save
VITE_CONTACT_EMAIL=edwardktwumasi1000@gmail.com
VITE_CALENDLY_URL=
VITE_PAYMENT_STARTER_URL=
VITE_PAYMENT_DELIVERY_URL=
VITE_PAYMENT_ENTERPRISE_URL=
SITE_URL=http://127.0.0.1:4173
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_STARTER=
STRIPE_PRICE_STARTER_RETAINER=
STRIPE_PRICE_DELIVERY_PROJECT=
STRIPE_PRICE_DELIVERY_RETAINER=
STRIPE_PRICE_ENTERPRISE=
PAYMENT_WEBHOOK_FORWARD_URL=
RESEND_API_KEY=re_HJnpVJ7s_9cZCCV4GcVWL8MsPfB7uH3Pj
RESEND_FROM_EMAIL=serendepify.com
